// Colors
$primary: #41433f;
$primary-dark: #2980b9;
$background: #f5f7eb;
$brand: #255700;
$links: #5a743e;
$hover: #747474;

// Fonts
$sans: Muli, Helvetica, sans-serif;

$linkhov: solid 2px #747474;
